---
import Layout from '../layouts/Layout.astro';

---
<Layout title="About Us">
<p class="px-8 text-lg">See Sales Management is a Specialty Wholesale Gift management firm. We have both been in the industry for 20+ years and have witnessed some of the best vendors we have seen struggle because they either did not understand the importance of rep groups and rep relationships or they did not have the time to execute everything they needed.  

Often, we will see brilliant and creative people successfully start a business with great product, and as that company grows they just don’t have the time to do it all. Production and development of new products takes time and care, and this can cause things to get pushed down the priority list, like meaningful rep management. 

This is where we step in. We want to help you simplify and manage your specialty retail sales to help take your business to the next level. What you focus on is what grows and as contract sales managers, we help you to analyze your current business and create strategic plans to grow your sales. 
</p>
</Layout>