---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro';
import CallToAction from '../components/CallToAction.astro';
import HeroLogo from '../assets/images/2000x1125.webp'
import BigSeeSale from '../assets/images/see-sales-big.png'
---

<Layout title="See Sales">
		<div class="flex flex-col grow">
			<div class="flex justify-center text-2xl py-16 px-4 relative -z-50">
				<div class="absolute inset-0 w-full pattern-dots pattern-blue-500 pattern-bg-transparent pattern-opacity-20 pattern-size-8">
					
				</div>
				<div class="">
					<p class="xl:text-6xl text-4xl font-bold">
						Having trouble connecting with your sales teams?
					</p>
					<p class="mt-20 xl:text-5xl text-3xl font-bold">
						Want help establishing meaningful and tangible sales goals?
					</p>
					<p class="mt-20 xl:text-3xl text-2xl font-bold">
						Looking to create and maintain effective yearly programs?			</p>
					<p class="mt-20 xl:text-2xl text:xl font-bold">
						Want to maximize your presence at trade shows?
					</p>
	
				</div>
			</div>
			<div class="flex flex-col justify-center items-center gap-4 py-8 px-4">
				<p class="text-2xl">We want to help you solve all of the above! </p>
	
				<p> As a business owner there is never enough time to accomplish everything.</p>
				<p>That's where we can help. </p>
				<p>We take the specialty retail work off your plate and give you back time. The time you need to nurture your creative vision, focus on growth, and take your company to the next level! </p>
				<p>Let us give you back time and energy to focus on what you do best!</p>
			</div>
			<CallToAction />
		</div>
</Layout>

