---

---
<div class="bg-gray-200 flex py-10 px-3 flex-col grow gap-8">
    <p class="font-bold text-3xl">Ready to take the next step?</p>
    <p class="text-xl">Our team is ready to discuss your company's needs and how we can help you grow. Don't hesitate, reach out to us today!</p>
    <a href="/contact/"> 
        <button class="text-white bg-green-600 w-28">Get in Touch</button>
    </a>
</div>

