---

---
<div class="bg-gray-200 flex py-10 px-3 flex-col h-full">
    <p class="font-bold text-xl">Ready to take the next step?</p>
    <p>Our team is ready to discuss your company's needs and how we can help you grow. Don't hesitate, reach out to us today!</p>
    <button class="white bg-green-400 w-28">Get in Touch</button>
</div>

