---
---
<ul class="bg-gray-800 text-white flex text-2xl">
    <li class="h-full hover:bg-gray-900 py-6 px-3 cursor-pointer">
        <a href="/">Home</a>
    </li>
    <li class="h-full hover:bg-gray-900 py-6 px-3 cursor-pointer">
        <a href="/about/">About Us</a>
    </li>
    <li class="h-full hover:bg-gray-900 py-6 px-3 cursor-pointer">Our team</li>
    <li class="h-full hover:bg-gray-900 py-6 px-3 cursor-pointer">Contact Us</li>
</ul>